@font-face {
  font-family: 'GothamBlack';
  src: url('https://raw.githubusercontent.com/MarketingCentauro/FONTS-BREVO/main/Gotham-Black.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}